<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todos">
	<select id="findByOwner" resultType="todo">
		SELECT *FROM TODOS WHERE
		OWNER=#{owner}
	</select>
	<select id="findById" resultType="todo">
	SELECT * FROM TODOS WHERE
	ID=#{id}
	</select>
	<insert id="create">
		INSERT INTO TODOS
		VALUES(#{id},#{owner},#{description},#{targetDate},#{done, jdbcType=VARCHAR})
	</insert>
	<delete id="deleteById">
		DELETE FROM TODOS WHERE ID=#{ID}
	</delete>
	<update id="update">
		UPDATE TODOS SET DESCRIPTION=#{description},DONE=#{done},TARGET_DATE=#{targetDate} WHERE ID=#{id}
	</update>
</mapper>
